<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MobileSystemsPass">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <meta-data android:name="safetynet_api_key"
            android:value="AIzaSyChJLIZm2d-FspGM3yH0WcEnHYoRNLwbrY"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
